@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #000;
  --loud: #13FF00;
  --gray: #9B9B9B;
  --darkgrey: #1F1F1F;
}

body {
  font-family: "Roboto", sans-serif;
}

ul, a {
  list-style: none;
  text-decoration: none;
}

.container {
  background: linear-gradient(180deg, #000000 10.65%, #13FF00 55.39%);
  width: 100%;
  height: 95vh;
  padding: 0 60px;
}

header {
  width: 100%;
  padding: 45px 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
}
header .nav-menu {
  display: flex;
  align-items: center;
  gap: 86px;
}
header .nav-menu li a {
  font-weight: 600;
  font-size: 22px;
  color: var(--white);
  transition: all 0.2s;
}
header li a:hover {
  font-weight: 800;
  font-size: 25px;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .cart {
  width: 45px;
  height: 45px;
  background-color: var(--darkgrey);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
header .cart a i {
  color: var(--white);
  font-size: 35px;
  padding: 5px 5px;
}
header .cart:hover {
  background-color: #9B9B9B;
}
header .club {
  background-color: var(--darkgrey);
  align-items: center;
  height: 45px;
  width: 150px;
  border-radius: 30px;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: all 0.2s;
}
header .club:hover {
  border: 2px solid var(--loud);
}
header .club img {
  padding: 10px 10px;
}



.box-primary {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;

}
.box-primary .image-main {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  transition: all 0.5s;
}
.box-primary .image-main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.box-primary .buttons {
  width: 100%;

  margin-top: 16px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-primary .buttons .buttom-loud {
  background-color: var(--dark);
  padding: 0 60px;
  border-radius: 0px 0px 0px 30px;
  border: 3px solid var(--white);
  cursor: pointer;
}
.box-primary .buttons .buttom-loud:hover {
  background-color: var(--darkgrey);
}
.box-primary .buttons .buttom-loudstore {
  background-color: var(--dark);
  padding: 10px 19px;
  border-radius: 0px 0px 30px 0px;
  border: 3px solid var(--white);
  cursor: pointer;
}
.box-primary .buttons .buttom-loudstore:hover {
  background-color: var(--darkgrey);
}
.lookbook .min-catalog {
  display: flex;
  gap: 70px;
  font-family: "Poppins", sans-serif;

  margin-top: -480px;
}
.lookbook .min-catalog img {
  border-radius: 30px 30px 0px 0px;
  height: 100%;
}
.lookbook .min-catalog .photo {
  cursor: pointer;
  height: 400px;

}

.lookbook .min-catalog .photo:nth-of-type(2) {
  height: 430px;
}
.lookbook .min-catalog .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lookbook .min-catalog p {
  font-weight: 100;
  font-size: 15px;
}
.lookbook .min-catalog h1 {
  font-weight: 600;
  font-size: 20px;
}
.lookbook .min-catalog span {
  font-weight: 300;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */

.lookbook {
  background-color: var(--darkgrey);
  width: 100%;
  padding: 100px 0;

  display: flex;
  justify-content: center;
}

@media (max-width: 1800px) {
  .lookbook .min-catalog .photo:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 1400px) {
  .lookbook .min-catalog .photo:nth-of-type(1) {
    display: none;
  }
}

@media(max-width: 1500px) {
  header .nav-menu {
    display: none;
  }
}

@media (max-width: 1000px) {
  .lookbook .min-catalog {
    margin-top: -400px;
  }
}

@media(max-width: 768px) {

  .container {
    height: auto;
    padding: 50px 60px;
  }

  .lookbook .min-catalog {
    margin-top: 0;
  }

  .lookbook .min-catalog .photo:nth-of-type(1),
  .lookbook .min-catalog .photo:nth-of-type(2) {
    display: block;
  }

  .lookbook .min-catalog {
    flex-direction: column;
  }


  .lookbook .min-catalog {
    width: 100%;
    padding: 0 60px;
  }
  .lookbook .min-catalog img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .cart-container {
    gap: 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 20px
  }

  .buttom-loud, .buttom-loudstore {
    width: 100%;
    text-align: center;
    border-radius: 10px !important;
  } 


} 